

include layout.jade
-var quesRepList
body(id="home-page")
  script(type="text/javascript").
    function revealResponse(){
      var list=document.getElementsByName("reponse");
      for(var i=0;i<list.length;i++){
        list[i].hidden=false;
      }
      
    }
  head
    include navbar.jade
  .container-fluid
    p.subtitle.italic.centerText S'exercer
    .container.col-xs-12.col-sm-12.col-md-5.col-lg-5.col-xl-5.bg-light
      each question in questionsList
        p.centerText #{question.dataValues.Question} 
        p.centerText
          strong(name="reponse" hidden) #{question.dataValues.Reponse}
      button(class="btn btn-primary center" onclick="revealResponse()") Correction
        
      
  
  footer
    include footer.jade