extends layout

block content
  h1= title
  p(style='white-space:pre;')
    |Explications
    |_______________________
    |____________________

  a(href='/logIn') Log
  a(href='/inscription') S'inscrire

  p(style='white-space:pre;')
    |A propos
    |____________________________
    |____________________________
