extends layout

block content
  h1= "Inscription"
  form(method='post')
    input(type='text',name='nom')
    input(type='text',name='prenom')
    input(type='text',name='email')
    input(type='password',name='mdp')
    input(type='text',name='anneeEtude')
    button(type='submit') send
