doctype html
html
  meta(http-equiv="content-type")
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" href="/images/favicon.ico" type="image/x-icon")

