//PAGE ME TESTER
include layout.jade
    
body
  head
    include navbar.jade
  .container-fluide
      button(type="button" class="btn btn-info") Me tester
      button(type="button" class="btn btn-light") Editer test(s)
  
  footer
    include footer.jade

                   
        

    
        