//PAGE ME TESTER
include layout.jade
    
body(id="home-page")
  head
    include navbar.jade

  .container.bg-light.margeTop
    p.centerText.subtitle.italic.bold Vos tests
    -if (itemList==undefined)
      p.centerText.big Vous n'avez rien pas encore créer de test.
    -else 
      //liste des tests créés dans une matière avec bouton me tester et éditer pour chacun
      each item in itemsList
        p #{item.dataValues.libQuizz}
        .container.my-5
          button(type="button" class="btn btn-info col-md-4 offset-md-1") Me tester
          button(type="button" class="btn btn-secondary col-md-4 offset-md-1") Editer

    form.form-inline(action="/matiere/#{nomMatiere}/se_tester" method='post') 
      .form-group
        label(for="ajout")   
        input(type="text" name='libelle' class="form-control" placeholder="Nouveau Test") 
        button(type="submit" class="btn btn-info") +
  
  footer
    include footer.jade

                   
        

    
        