//PAGE ME TESTER
include layout.jade
    
body(id="home-page")
  head
    include navbar.jade

  //liste des tests créés dans une matière 
  each item in itemsList
    p #{item.dataValues.libQuizz}
    .container.my-5
      button(type="button" class="btn btn-info col-md-4 offset-md-1") Me tester
      button(type="button" class="btn btn-secondary col-md-4 offset-md-1") Editer
  .container
    form.form-inline(action="/matiere/#{nomMatiere}/se_tester" method='post') 
      .form-group
        label(for="ajout")   
        input(type="text" name='libelle' class="form-control" placeholder="Nouveau Test") 
        button(type="submit" class="btn btn-info") +
  
  footer
    include footer.jade

                   
        

    
        