doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(id="register-page")
    header
        include first-navbar.jade
    .container-fluid
        p(class="title centerText") INSCRIPTION
        .container.col-xs-12.col-sm-12.col-md-5.col-lg-5.col-xl-5.bg-light
            form(class="login" method='post')
                .form-group
                    label(for="nom")   
                    input(type="text" id="nom" class="form-control" placeholder="Nom") 
                
                .form-group
                    label(for="prenom")
                    input(type="text" id="prenom" class="form-control" placeholder="Prénom")
                br
                .form-group
                    select.custom-select
                        option(selected='') Niveau d'études
                        option(value='1') Collège
                        option(value='2') Lycée
                        option(value='3') Supérieur
                        option(value='4') Autre
                .form-group
                    label(for="email") 
                    input(type="text" id="email" class="form-control" placeholder="Adresse mail")

                .form-group
                    label(for="mdp")
                    input(type="text" id="mdp" class="form-control" placeholder="Mot de passe")
                    br

                    a(href='/' id="retour")
                        input(type='button', class="btn btn-light col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4", value="Retour") 
                    
                    button(type="submit" class="btn btn-info col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 btn-custom") Valider
            
