/*Aspects de la police*/
.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

/*Taille du texte*/
.small {
	font-size: .8571em; /* equiv 12px */
	line-height: 1.75em;
}

.big {
    font-size: 2em; 
	line-height: 2em;
}

/*partie de texte*/
.title {
    margin-top: 0.75em;
    font-size: 3em; 
	  line-height: 2em;
}

.subtitle{
    font-size: 2.5em;
    line-height: 1.5em;
}

/*partie de page*/
.login{
    margin: 50px;

}
.space{
  margin-left: 10px;
  margin-right: 10px;
}
.colonne {
    background-color: aquamarine;
}

/*Position*/
.centerText{
    text-align: center;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}


/*Couleur*/

.blue {
    height: 200px;
    background-color: rgb(63, 147, 150)
    
}

.green {
    height: 200px;
    background-color: darkseagreen;
}

/*Bouton*/
.btn-custom{
    margin-left: 5px;
    margin-right: 5px;
}

/*Arrière plan*/
/*Background par page et entête*/
body, html {
  height: 100%;
}

.entete{
  background-image: url("../images/texture-turquoise-watercolor.jpg");
}

#login-page #register-page {
  /* The image used */
  background-image: url("../images/circle-turquoise-watercolor.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home-page {
  /* The image used */
  background-image: url("../images/texture-turquoise-watercolor.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#index-page {
  /* The image used */
  background-image: url("../images/texture-turquoise-watercolor.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*images*/

#logo{
  margin-top: 5em;
  margin-left: auto;
  width: 15em;
  height: auto;
}

#small-logo{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  width: 7em;
  height: auto;
}